[Unit]
Description=whoami-%i
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill whoami-%i
ExecStartPre=-/usr/bin/docker rm whoami-%i
ExecStartPre=/usr/bin/docker pull xavier/whoami
ExecStart=/usr/bin/docker run --name whoami-%i -p :8000 xavier/whoami
ExecStop=/usr/bin/docker stop whoami-%i
